* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.split {
  justify-content: space-between;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .4);
  height: 100%;
  width: 100%;
}
