* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.split {
  justify-content: space-between;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  position: relative;
}

form button, form input, form textarea {
  outline: none;
  border: none;
}

form button.cancel {
  background: #aaa !important;
}

