form.auth.auth {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 25px;
  background: #fff;
  width: 450px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
}

form.auth input, form.auth button {
  margin-bottom: 8px;
  padding: 6px 10px;
}

form.auth h3 {
  margin-bottom: 20px;
  text-align: center;
}

form.auth p.error {
  color: red;
  font-size: .85rem;
  text-align: center;
  margin-bottom: 15px;
}

form.auth button {
  background: rgb(28, 91, 186);
  color: #fff;
  padding: 10px 0;
  flex: 1;
}

form.auth .toggle {
  margin-top: 5px;
  position: relative;
  left: -8px;
}

form.auth .toggle-bar {
  width: 45px;
  height: 20px;
  border-radius: 30px;
  background: #dedede;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
}


form.auth .toggle-bar span {
  position: absolute;
  top: 2px;
  left: 4px;
  height: 16px;
  width: 16px;
  font-size: .8rem;
  border-radius: 50%;
  background: #aaa;
  transition: left .1s;
  margin: 0;
}

form.auth .toggle-bar span.toggle {
  left: 25px;
}